{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete Account" %} :: {{ block.super }}{% endblock %}
{% block href_back %}{% url 'account_settings' %}{% endblock %}
{% block pagename %}{% trans "Delete Account" %}{% endblock %}

{% block content %}
<form method="post" action="{% url "account_delete" %}">
	{% csrf_token %}
	<div class="notice">
		<p>{% blocktrans %}We will be deleting your account. Are you sure?{% endblocktrans %}</p>
		<p>{% blocktrans %}If you go ahead and delete your account, your information will be <b>expunged within {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} hours</b>.{% endblocktrans %}</p>
		<p>{% blocktrans %}The expunged data cannot be recovered once expunged.{% endblocktrans %}</p>
	</div>
	<button type="submit" class="redmit">{% trans "Delete my account" %}</button>
</form>
{% endblock %}
