{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm Email" %}{% endblock %}
{% block pagename %}{% trans "Confirm Email" %}{% endblock %}

{% block content %}
<form method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
	{% csrf_token %}
	<div class="notice">
		<p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>
	</div>
	<button type="submit" class="submit">{% trans "Confirm" %}</button>
</form>
{% endblock %}
