{% extends "base.html" %}
{% load hc %}
{% load i18n %}

{% block title %}{% trans "Log in" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{% trans "Log in" %}{% endblock %}

{% block content %}

{{ form.non_field_errors }}
<div id="form-login">
	<form method="post" action="">
		{% csrf_token %}
		{% for hidden in form.hideen_fields %}
			{{ hidden }}
		{% endfor %}
		<ul>
			{% for field in form.visible_fields %}
			<li class="field {{ field.html_name }}">
				{{ field | label_as_placeholder }}
				{% if field.html_name == 'remember' %}{{ field.label_tag }}{% endif %}
				{{ field.errors }}
			</li>
			{% endfor %}
		</ul>
		<div class="center">
			<input class="submit" type="submit" value="{% trans 'Log in' %}">
		</div>
	</form>
	<div class="meta">
		<p>{% trans "Do you have no account?" %} <a href="{% url 'account_signup' %}">{% trans "Register" %}</a></p>
		<p>{% trans "Lost your password?" %} <a href="{% url 'account_password_reset' %}">{% trans "Click here" %}</a></p>
	</div>
</div>

{% endblock %}
