{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<form method="post" action="{% url "account_password_reset" %}">
	{% csrf_token %}
	{% for field in form %}
		{{ field.as_hidden }}
	{% endfor %}
	<div class="notice">
		<p>{% blocktrans %}We have sent you an email with a link to reset your password. Please check your email and click the link to continue.{% endblocktrans %}<br>
		{% blocktrans %}If you do not receive it within a few minutes, try resending.{% endblocktrans %}</p>
	</div>
	<button type="submit" name="resend" class="gromit">{% trans "Resend" %}</button>
</form>
{% endblock %}
