{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Bad token" %}{% endblock %}
{% block pagename %}{% trans "Bad token" %}{% endblock %}

{% block content %}

<div class="notice">
	{% url "account_password_reset" as url %}
	<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
</div>

<a href="{{ url }}" class="submit">{% trans "Reset password" %}</a>

{% endblock %}
