Django==1.7.8
Pillow==2.8.1
bcrypt==1.1.1
bleach==1.4.1
cffi==0.9.2
django-appconf==1.0.1
django-custom-user==0.5
django-froala-editor==1.2.4
django-haystack==2.3.1
django-recaptcha==1.0.4
django-user-accounts==1.0.2
html5lib==0.99999
jsonfield==1.0.3
pycparser==2.13
pytz==2015.4
six==1.9.0
urllib3==1.10.4
