{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ board }} :: {{ block.super }}{% endblock %}

{% block content %}

{% block post %}
	{% include "include/banner.html" %}
{% endblock %}

<section class="section board">
	<div>
		<header>
			<div class="cell mark"></div>
			<div class="cell category"><a href="#">Category</a></div>
			{# the line above is a placeholder #}
			<div class="cell title"><a href="#">{% trans "Title" %}</a></div>
			<div class="cell author"><a href="#">{% trans "Author" %}</a></div>
			<div class="cell timestamp"><a href="#">{% trans "Date" %}</a></div>
			<div class="cell score"><a href="#">{% trans "Score" %}</a></div>
			<div class="cell views"><a href="#">{% trans "Views" %}</a></div>
		</header>
		<ul>
		{% for post in post_list %}
			<li>
				<a href="{{ post.get_absolute_url }}" class="item {{ post.category.slug }}{% if post.is_announcement %} notice{% endif %} {% cycle 'odd' 'even' %}">
					<span class="cell mark"></span>
					<span class="cell category">{{ post.category }}</span>
					<span class="cell title">
						<span class="text">{{ post.title }}</span>
						{% if post.comments.count != 0 %}
							<span href="#" class="label meta comments">{{ post.comments.count }}</span>
						{% endif %}
					</span>
					<span class="cell author meta" title="{{ post.user.username }}">
						<span class="label meta author">{{ post.user.profile.nick }}</span>
					</span>
					<span class="cell timestamp meta" title="{{ post.created_time | date:'DATE_FORMAT' }} {{ post.created_time | date:'H:i:s' }}">
						<span class="label meta timestamp">{{ post.created_time | timesince }}</span>
					</span>
					<span class="cell score meta" title="+{{ post.votes.upvote }} / -{{ post.votes.downvote }}">
						<span class="label meta score">{{ post.votes.total }}</span>
					</span>
					<span class="cell views meta">
						<span class="label meta views">{{ post.viewcount }}</span>
					</span>
				</a>
			</li>
		{% empty %}
			<li class="empty">{% trans "There are no posts here!" %}</div>
		{% endfor %}
		</ul>

		<nav class="nav clear">
			<div class="left">
				<a href="{{ board.get_absolute_url }}" class="button">{% trans "List" %}</a>
				<a href="{{ board.get_absolute_url }}best" class="button">{% trans "Top Posts" %}</a>
				<form action="#" method="post" id="search" class="button search">
					<input type="button" value="{% trans "Search" %}" class="search">
					<input type="text" name="quary" class="text">
					<input type="hidden" name="scope">
					<div id="scope">Title + Article</div>
				</form>
			</div>
			<div class="right">
				<a href="{{ board.get_absolute_url }}newpost" class="button blue">{% trans "New Post" %}</a>
			</div>
		</nav>

		<footer class="pages">
			<a href="#" class="anchor" style="visibility:hidden;"><span class="aquo">&laquo;</span>{% trans "First" %}</a>
			<a href="#" class="anchor" style="visibility:hidden;"><span class="aquo">&lsaquo;</span>{% trans "Prev" %}</a>
			<div>
				<a href="#" class="current page">1</a>
				<a href="#" class="page">2</a>
				<a href="#" class="page">3</a>
				<a href="#" class="page">4</a>
				<a href="#" class="page">5</a>
				<a href="#" class="page">6</a>
				<a href="#" class="page">7</a>
				<a href="#" class="page">8</a>
				<a href="#" class="page">9</a>
				<a href="#" class="page">10</a>
			</div>
			<a href="#" class="anchor">{% trans "Next" %}<span class="aquo">&rsaquo;</span></a>
			<a href="#" class="anchor">{% trans "Last" %}<span class="aquo">&raquo;</span></a>
		</footer>
	</div>


</section>

{% endblock content %}
