{% extends 'board/post_list.html' %}
{% load hc %}
{% load i18n %}
{% load intcomma from humanize %}

{% block post %}

<div class="section article" data-id="{{ post.id }}">
	<div class="item article">
		<div class="header">
			<div class="title">
				<p class="category">{{ post.category }}</p>
				<h2>
					<span>{{ post.title }}</span>
					<a href="#comments" class="label meta comments"{% if item.comments.count == 0 %} style="display:none;"{% endif %}>
						<span class="icon"></span>
						<span class="text">{{ post.comments.count }}</span>
					</a>
				</h2>
			</div>
			<div class="meta">
				{% if not post.announcement %}
				<span class="label meta 
				{% if post.user %}
					author user">
				{% else %}
					author guest" title="{{ post.iphash }}">
				{% endif %}
					<span class="icon"></span>
					<span class="text"><span>{{ post.author }}</span></span>
				</span>
				{% endif %}
				<span class="label meta timestamp" title="{{ post.created_time | date:'DATE_FORMAT' }} {{ post.created_time | date:'H:i:s' }}">
					<span class="icon"></span>
					<span class="text"><span>{{ post.created_time | timesince | split_first }} {% trans "ago" %}</span></span>
				</span>
				<span class="label meta score" title="+{{ post.votes.upvote | intcomma }} / -{{ post.votes.downvote | intcomma }}">
					<span class="icon"></span>
					<span class="text">
						{% blocktrans with counter=post.votes.total|intcomma %}
							<span>{{ counter }}</span> votes
						{% endblocktrans %}
					</span>
				</span>
				<span class="label meta views">
					<span class="icon"></span>
					<span class="text">
						{% blocktrans with counter=post.viewcount|intcomma %}
							<span>{{ counter }}</span> views
						{% endblocktrans %}
					</span>
				</span>
			</div>
		</div>
		<div class="article note-editor">
			{{ post.contents | safe }}
		</div>

		<div class="vote vote-post" data-target-id="{{ post.id }}">
			<a href="#upvote" class="upvote vote-post{% if voted.upvoted %} voted{% endif %}">
				<span class="icon"></span>
				<span class="text">{% trans "Upvote" %}</span>
			</a>
			<a href="#downvote" class="downvote vote-post{% if voted.downvoted %} voted{% endif %}">
				<span class="icon"></span>
				<span class="text">{% trans "Downvote" %}</span>
			</a>
		</div>
		<div class="footer clear">
			{% if post.tag %}
			<div class="tags">
				<a href="#" class="label meta tags">
					<span class="icon"></span>
					<span class="text">{{ post.tag }}</span>
				</a>
			</div>
			{% endif %}
			<div class="comments">
				<div class="left">
					<a href="#toggle" class="label meta comments">
						<span class="icon"></span>
						<span class="text">{% blocktrans count counter=post.comments.count|intcomma %}There is <span>{{ counter }}</span> comment.{% plural %}There are <span>{{ counter }}</span> comments.{% endblocktrans %}</span>
					</a>
				</div>
				<div class="right">
					<a href="#refresh" class="label meta refresh">
						<span class="icon"></span>
						<span class="text">{% trans "Refresh" %}</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="comments" class="comments-list">
		<ul>
			<li class="list template" style="display:none;">
				<div class="comment">
					<div class="bubble item">
						<div class="container">
							<div class="header clear">
								<div class="left">
									<span class="label meta author user">
										<span class="text"></span>
									</span>
									<span class="meta timestamp"></span>
								</div>
								<div class="right">
									<span class="label meta score">
										<span class="icon"></span>
										<span class="text">0</span>
									</span>
									<div class="dropdown container">
										<a href="#" class="label meta more dropdown handle">
											<span class="icon"></span>
										</a>
										<div class="dropdown menu">
											<a href="#" class="close">{% trans "Close" %}</a>
											<div class="tip top"><span></span></div>
											<ul>
												<li><a href="#upvote">
													<span class="label meta score">
														<span class="icon"></span>
														<span class="text">{% trans "Upvote" %}</span>
													</span>
												</a></li>
												<li><a href="#downvote">
													<span class="label meta downvote">
														<span class="icon"></span>
														<span class="text">{% trans "Downvote" %}</span>
													</span>
												</a></li>
												<li><a href="#reply">
													<span class="label meta reply">
														<span class="icon"></span>
														<span class="text">{% trans "Reply" %}</span>
													</span>
												</a></li>
												<li class="manipulate"><a href="#modify">
													<span class="label meta modify">
														<span class="icon"></span>
														<span class="text">{% trans "Modify" %}</span>
													</span>
												</a></li>
												<li class="manipulate"><a href="#delete">
													<span class="label meta delete">
														<span class="icon"></span>
														<span class="text">{% trans "Delete" %}</span>
													</span>
												</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="article"></div>
						</div>
					</div>
					<div class="bubble tip"><span></span></div>
				</div>
			</li>

			<li class="owned write template" data-id="{{ post.id }}" data-type="p">
				<div class="comment">
					<div class="bubble item">
						<div class="container">
							<div class="article"><textarea placeholder="{% trans 'Please write your reply here.' %}"></textarea></div>
							<div class="footer clear">
								<div class="ot nav">
									{% if not user.is_authenticated %}
										<label class="nick"><input type="text" name="nick" placeholder="{% trans "Nickname" %}"></label>
										<label class="password"><input type="password" name="password" placeholder="{% trans "Password" %}"></label>
									{% endif %}
								</div>
								<div class="nav">
									<a href="#cancel" class="cancel button" style="display:none;">{% trans "Cancel" %}</a>
									<a href="#submit" class="submit button blue">{% trans "Submit comment" %}</a>
								</div>
							</div>
						</div>
					</div>
					<div class="bubble tip"><span></span></div>
				</div>
			</li>
		</ul>
		<script>
			var author = '{{ user.profile.nick }}';
			var post_id = {{ post.id }};
			getComments({{ post.id }});
		</script>
	</div>

	<div class="nav clear">
		<div class="left">
			<a href="{% url 'board_post_list' board.slug %}" class="button">{% trans "List" %}</a>
			{% if is_best %}
				<a href="{{ board.get_absolute_url }}" class="button blue checkbox checked">
			{% else %}
				<a href="{{ board.get_absolute_url }}best" class="button checkbox">
			{% endif %}
				<span class="label">
					<span class="icon"></span>
					<span class="text">{% trans "Top posts" %}</span>
				</span>
			</a>
		</div>
		<div class="right">
			{% if user.username == post.user.username or not post.user.username %}
				<a href="{% url 'post_delete' post.id %}" class="button">{% trans "Delete" %}</a>
				<a href="{% url 'post_update' post.id %}" class="button">{% trans "Modify" %}</a>
			{% endif %}
			<a href="{% url 'board_post_create' board.slug %}" class="button blue">{% trans "New post" %}</a>
		</div>
	</div>
</div>

{% endblock %}
