{% extends 'base.html' %}
{% load hc %}
{% load i18n %}
{% load intcomma from humanize %}
{% load cycle from future %}

{% block title %}{{ board }} :: {{ block.super }}{% endblock %}

{% block content %}

{% block post %}
	{% include "include/banner.html" %}
{% endblock %}

<div class="section board">

	<div class="header">
		<div class="cell mark"></div>
		<div class="cell category dropdown container">
			<a href="#" class="handle label meta">
				<span class="text"><span>{% trans "Categories" %}</span></span>
				<span class="icon"></span>
			</a>
			<div class="dropdown menu">
				<a href="#" class="close">{% trans "Close" %}</a>
				<div class="tip top"><span></span></div>
				<ul>
					<li><a href="#"><span>cat1</span></a></li>
					<li><a href="#"><span>cat2</span></a></li>
					<li><a href="#"><span>cat3</span></a></li>
					<li><a class="checkbox checked" href="#">
						<span class="label">
							<span class="icon"></span>
							<span class="text">toggle</span>
						</span>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="cell title">{% trans "Title" %}</div>
		<div class="cell author">{% trans "Author" %}</div>
		<div class="cell timestamp"><a href="#">{% trans "Date" %}</a></div>
		<div class="cell score"><a href="#">{% trans "Score" %}</a></div>
		<div class="cell views"><a href="#">{% trans "Views" %}</a></div>
	</div>

	<ul class="post-list">
	{% for item in post_list %}
		{% cycle 'odd' 'even' as rowclass silent %}
		{% if item.votes.total <= -10 %}
			<li>
				<a href="{{ item.get_absolute_url }}" class="item hidden {{ rowclass }}{% if post.id == item.id %} currentpost{% endif %}">
					<span class="cell mark">&#9654;</span>
					<span class="cell category"></span>
					<span class="cell title">
						<span title="{{ item.title }}">{% trans "This post has been downvoted by users." %}</span>
					</span>
					<span class="cell author meta"></span>
					<span class="cell timestamp meta"></span>
					<span class="cell score meta"></span>
					<span class="cell views meta"></span>
				</a>
			</li>
		{% else %}
			<li>
				<a href="{{ item.get_absolute_url }}" class="item {{ item.category.slug }}{% if item.is_announcement %} notice{% endif %} {{ rowclass }}{% if post.id == item.id %} currentpost{% endif %}">
					<span class="cell mark">&#9654;</span>
					<span class="cell category">{{ item.category }}</span>
					<span class="cell title">
						<span class="title">{{ item.title }}</span>
						{% if item.comments.count != 0 %}
							<span class="label meta comments">
								<span class="icon"></span>
								<span class="text">{{ item.comments.count }}</span>
							</span>
						{% endif %}
					</span>
					<span class="cell author meta"
						title="{% if item.user.username %}{{ item.user.username }}{% else %}{{ item.ipaddress }}{% endif %}">
						<span class="label meta 
						{% if item.user %}
							author user">
						{% else %}
							author guest">
						{% endif %}
							<span class="icon"></span>
							<span class="text">{{ item.author }}</span>
						</span>
					</span>
					<span class="cell timestamp meta"
						title="{{ item.created_time | date:'DATE_FORMAT' }} {{ item.created_time | date:'H:i:s' }}">
						<span class="label meta timestamp">
							<span class="icon"></span>
							<span class="text">{{ item.created_time | timesince | split_first }} {% trans "ago" %}</span>
						</span>
					</span>
					<span class="cell score meta"
						title="+{{ item.votes.upvote }} / -{{ item.votes.downvote }}">
						<span class="label meta score">
							<span class="icon"></span>
							<span class="text">{{ item.votes.total | intcomma }}</span>
						</span>
					</span>
					<span class="cell views meta">
						<span class="label meta views">
							<span class="icon"></span>
							<span class="text">{{ item.viewcount | intcomma }}</span>
						</span>
					</span>
				</a>
			</li>
		{% endif %}
	{% empty %}
		<li class="empty">{% trans "There are no posts here!" %}</div>
	{% endfor %}
	</ul>

	<div class="nav bottom clear">
		<div class="left">
			<a href="{{ board.get_absolute_url }}" class="button">{% trans "List" %}</a>
			<a href="{{ board.get_absolute_url }}best" class="button">{% trans "Top Posts" %}</a>
			<form action="#" method="post" id="search" class="button search">
				<input type="button" value="{% trans "Search" %}" class="search">
				<input type="text" name="quary" class="text">
				<input type="hidden" name="scope">
				<div id="scope" class="dropdown container">
					<div class="dropdown menu">
						<a href="#" class="close">{% trans "Close" %}</a>
						<ul>
							<li><a href="#"><span>cat1</span></a></li>
							<li><a href="#"><span>cat2</span></a></li>
							<li><a href="#"><span>cat3</span></a></li>
							<li><a class="checkbox checked" href="#">
								<span class="label">
									<span class="icon"></span>
									<span class="text">toggle</span>
								</span>
							</a></li>
						</ul>
						<div class="tip bottom"><span></span></div>
					</div>
					<span class="handle label meta">
						<span class="text">Title + Article</span>
						<span class="icon"></span>
					</span>
				</div>
			</form>
		</div>
		<div class="right">
			<a href="{{ board.get_absolute_url }}newpost" class="button blue">{% trans "New Post" %}</a>
		</div>
	</div>

	{% if is_paginated %}
		<div class="pages nav">
			<div class="container nowrap">
				{% if page_obj.paginator.page_range|first != page_obj.number and page_obj.paginator.page_range|first != page_obj.previous_page_number%}
					<a href="?page={{ page_obj.paginator.page_range | first }}" class="button label meta first" title="{% trans "First" %}"><span class="icon"></span></a>
				{% endif %}
				{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}" class="button label meta prev" title="{% trans "Prev" %}"><span class="icon"></span></a>
				{% endif %}
				{% with page_start=page_obj.number|add:"-5" page_end=page_obj.number|add:"5" %}
					{% for page in page_obj.paginator.page_range|slice:"page_start:page_end" %}
						<a href="?page={{ page }}" class="button page{% if page == page_obj.number %} current{% endif %}{% if page < page_obj.number|add:"-2" or page > page_obj.number|add:"3" %} foldable{% endif %}">{{ page }}</a>
					{% endfor %}
				{% endwith %}
				{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}" class="button label meta next" title="{% trans "Next" %}"><span class="icon"></span></a>
				{% endif %}
				{% if page_obj.paginator.page_range|last != page_obj.number and page_obj.paginator.page_range|last != page_obj.next_page_number %}
					<a href="?page={{ page_obj.paginator.page_range | last }}" class="button label meta last" title="{% trans "Last" %}"><span class="icon"></span></a>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>

{% endblock content %}
