{% extends 'base.html' %}
{% load hc %}
{% load i18n %}

{% block title %}{%trans "New post" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{%trans "New post" %}{% endblock %}

{% block content %}

{% if password_form %}
<form method='post'>
	{% csrf_token %}
	{{ password_form.as_p }}
	<input type='submit'>
</form>
{% else %}
{% for field in form %}
	{% if field.errors %}
	<ul class="errorlist">
		{% for error in field.errors %}
		<li>{{ error | escape }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endfor %}

<div class="section article form">
	<div class="media">{{ form.media }}</div>
	<form action="" method="post">
	{% csrf_token %}
	<div class="item article">
		<div class="header">
			<div class="title">
				<span class="category dropdown container" data-text="{% trans "Categories" %}">{{ form.category }}</span>
				<h2>
					{{ form.title | label_as_placeholder  }}
				</h2>
			</div>
		</div>
		<div class="clear">
			{{ form.contents }}
		</div>
		<div class="footer clear">
			<div class="tags">
				<span class="label meta tags">
					<span class="icon" title="{% trans "Tags" %} "></span>
					<span class="text">{{ form.tags | label_as_placeholder  }}</span>
				</span>
			</div>
		</div>
	</div>
	<div>
		{% if form.onetime_nick %}
			{{ form.onetime_nick }}
		{% endif %}
		{% if form.onetime_password %}
			{{ form.onetime_password }}
		{% endif %}
	</div>
	<div class="center">
		<input class="submit" type="submit" value="{% trans "New post" %}">
	</div>
	</form>
</div>
{% endif %}
{% endblock content %}
