{% extends 'board/postlist/with_board.html' %}
{% load static %}
{% load hc %}
{% load i18n %}
{% load intcomma from humanize %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}
{% block href_back %}
{% if post.announcement %}
	{% url 'index' %}
{% else %}
	{% url 'board_post_list' board.slug %}
{% endif %}
{% endblock %}

{% block head %}
	<script src="{% static "js/Autolinker.min.js" %}"></script>
	<script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
	<script src="{% static "js/tagging.min.js" %}"></script>
	<script src="{% static "js/comments.js" %}"></script>
	{{ comment_form.media }}
	<script src="{% static "froala_editor/js/langs/ko.js" %}"></script>
{% endblock %}

{% block post %}

<div class="section article detail" data-id="{{ post.id }}">
	<div class="item article">
		<div class="header">
			<div class="title">
				<p class="category">
					{% if post.announcement %}
						{% trans "Notice" %}
					{% else %}
						{{ post.category }}
					{% endif %}
				</p>
				<h2>
					<span>{{ post.title }}</span>
					<a href="#comments" class="label meta comments"{% if post.comments.count == 0 %} style="display:none;"{% endif %}>
						<span class="icon"></span>
						<span class="text">{{ post.comments.count }}</span>
					</a>
				</h2>
			</div>
			<div class="meta">
				{% if not post.announcement %}
				<a title="{% if post.user %}{% if post.user.total_score >= 0 %}+{% endif %}{{ post.user.total_score }}{% else %}{{ post.iphash }}{% if user.is_staff %} - {{ post.ipaddress }}{% endif %}{% endif %}" class="label meta 
				{% if post.user %}
					author user" href="{% url 'user_profile' post.user.id %}">
				{% else %}
					author guest">
				{% endif %}
					<span class="icon"></span>
					<span class="text"><span>{{ post.author }}</span></span>
				</a>
				{% endif %}
				<span class="label meta timestamp" title="{{ post.created_time | date:'DATE_FORMAT' }} {{ post.created_time | date:'H:i:s' }}">
					<span class="icon"></span>
					<span class="text"><span>{{ post.created_time | timesince | split_first }} {% trans "ago" %}</span></span>
				</span>
				<span class="label meta score" title="+{{ post.votes.upvote | intcomma }} / -{{ post.votes.downvote | intcomma }}">
					<span class="icon"></span>
					<span class="text">
						{% blocktrans with counter=post.votes.total|intcomma %}
							<span>{{ counter }}</span> votes
						{% endblocktrans %}
					</span>
				</span>
				<span class="label meta views">
					<span class="icon"></span>
					<span class="text">
						{% blocktrans with counter=post.viewcount|intcomma %}
							<span>{{ counter }}</span> views
						{% endblocktrans %}
					</span>
				</span>
			</div>
		</div>
		<div class="clear">
			<div class="article clear">
				<div class="froala-view froala-element editor">
					{{ post.contents | safe }}
				</div>
			</div>
		</div>

		<div class="vote vote-post" data-target-id="{{ post.id }}">
			<a href="#upvote" class="upvote vote-post{% if voted.upvoted %} voted{% endif %}">
				<span class="icon"></span>
				<span class="text">{% trans "Upvote" %}</span>
			</a>
			<a href="#downvote" class="downvote vote-post{% if voted.downvoted %} voted{% endif %}">
				<span class="icon"></span>
				<span class="text">{% trans "Downvote" %}</span>
			</a>
		</div>

		{% if google_ads %}
		<div style="width:540px; margin:10px auto">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="{{ google_ads.client }}"
				 data-ad-slot="{{ google_ads.slot }}"
				 data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</script>
		{% endif %}

		<div class="footer clear">
			{% if post.tags.all %}
			<div class="tags">
				<a class="anchor" id="tags"></a>
				<a href="#tags" class="label meta tags">
					<span class="icon"></span>
					<span class="text">
					{% for tag in post.tags.all %}<a class="tag readonly" href="{% url 'post_list_by_tag' tag.name %}">{{ tag.name }}</a>{% endfor %}
					</span>
				</a>
			</div>
			{% endif %}
			<div class="comments">
				<a class="anchor" id="comments"></a>
				<div class="left">
					<a href="#toggle" class="label meta comments">
						<span class="icon"></span>
						<span class="text">{% blocktrans count counter=post.comments.count|intcomma %}There is <span>{{ counter }}</span> comment.{% plural %}There are <span>{{ counter }}</span> comments.{% endblocktrans %}</span>
					</a>
				</div>
				<div class="right">
					<a href="#refresh" class="label meta refresh">
						<span class="icon"></span>
						<span class="text">{% trans "Refresh" %}</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="comments-list">
		<div>
			<div class="list template" style="display:none;">
				<a class="anchor"></a>
				<div class="comment">
					<div class="bubble item">
						<div class="container">
							<div class="header clear">
								<div class="left">
									<span class="dropdown fold" href="#">
										<span class="label meta handle"><span class="icon"></span></span>
									</span>
									<span class="depth"></span>
									<span class="hidden author">{% trans "Hidden" %}</span>
									<a class="label meta author user">
										<span class="text"></span>
									</a>
									<span class="meta timestamp"></span>
								</div>
								<div class="right">
									<span class="label meta score">
										<span class="text"><span>N/A</span></span>
									</span>
									<div class="dropdown container">
										<a href="#" class="label meta more dropdown handle">
											<span class="icon"></span>
										</a>
										<div class="dropdown menu">
											<a href="#" class="close">{% trans "Close" %}</a>
											<div class="tip top"><span></span></div>
											<div class="wrap">
												<ul>
													<li class="vote upvote">
														<a href="#upvote">
															<span class="label meta upvote">
																<span class="icon"></span>
																<span class="text">{% trans "Upvote" %}</span>
															</span>
														</a>
													</li>
													<li class="vote downvote">
														<a href="#downvote">
															<span class="label meta downvote">
																<span class="icon"></span>
																<span class="text">{% trans "Downvote" %}</span>
															</span>
														</a>
													</li>
													{% if post.votes.total > BOARD_POST_BLIND_VOTES or user.is_staff %}
													<li class="reply">
														<a href="#reply">
															<span class="label meta reply">
																<span class="icon"></span>
																<span class="text">{% trans "Reply" %}</span>
															</span>
														</a>
													</li>
													<li class="manipulate">
														<a href="#modify">
															<span class="label meta modify">
																<span class="icon"></span>
																<span class="text">{% trans "Modify" %}</span>
															</span>
														</a>
													</li>
													{% endif %}
													<li class="manipulate">
														<a href="#delete">
															<span class="label meta delete">
																<span class="icon"></span>
																<span class="text">{% trans "Delete" %}</span>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="article clear">
								<div class="froala-view froala-element editor"></div>
							</div>
						</div>
					</div>
					<div class="bubble tip"><span></span></div>
				</div>
			</div>

			<div class="separator"></div>

			{% if post.votes.total > BOARD_POST_BLIND_VOTES or user.is_staff %}
			<div class="owned write template" data-id="{{ post.id }}" data-type="p">
				<div class="comment">
					<div class="bubble item">
						<div class="container">
							<div class="article">{{ comment_form.contents }}</div>
							<div class="footer">
								<div class="ot nav">
									<label {% if user.is_authenticated %}style="display:none;" {% endif %}class="nick">{{ comment_form.onetime_nick | label_as_placeholder }}</label>
									<label {% if user.is_authenticated %}style="display:none;" {% endif %}class="password">{{ comment_form.onetime_password | label_as_placeholder }}</label>
								</div>
								<div class="nav clear">
									<div class="right">
										<a href="#cancel" class="cancel button" style="display:none;">{% trans "Cancel" %}</a>
										<a href="#submit" class="submit button blue">{% trans "Submit comment" %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bubble tip"><span></span></div>
				</div>
			</div>
			{% endif %}
		</div>

		<script>
			var post_id = {{ post.id }};
			getComments({{ post.id }});
		</script>
	</div>

	<div class="nav clear">
		<div class="left">
			<a href="{% url 'board_post_list' board.slug %}" class="button">{% trans "List" %}</a>
			{% if is_best %}
				<a href="{% url 'board_post_list' board.slug %}" class="button blue checkbox checked">
			{% else %}
				<a href="{% url 'board_post_list_best' board.slug %}" class="button checkbox">
			{% endif %}
				<span class="label">
					<span class="icon"></span>
					<span class="text">{% trans "Top posts" %}</span>
				</span>
			</a>
		</div>
		{% if board.type != board.TYPE_ANNOUNCEMENT or user.is_staff %}
		<div class="right">
			{% if user.is_staff or user == post.user or not post.user %}
				<a href="{% url 'post_delete' post.id %}" class="button">{% trans "Delete" %}</a>
				<a href="{% url 'post_update' post.id %}" class="button">{% trans "Modify" %}</a>
			{% endif %}
			<a href="{% url 'board_post_create' board.slug %}" class="button blue">{% trans "New post" %}</a>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}
