{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete post" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{% trans "Delete post" %}{% endblock %}

{% block content %}
<div id="form">
	<form method="post" action="">
		{% csrf_token %}
			<div class="notice">
				<p>{% trans "Deleting a post- this action cannot be undone. Are you sure?" %}
			{% if password_form %}
				<br>{% trans "Then enter the password you used." %}</p>
			</div>
			<ul>
				{% for field in password_form %}
				<li class="field">
					<label{% if field.errors %} class="error"{% endif %}><span>{{ field.label }}</span>{{ field }}</label>
					{{ field.errors }}
				</li>
				{% endfor %}
			</ul>
		{% else %}
			</p></div>
		{% endif %}
		<div class="center">
			<input class="redmit" type="submit" value="{% trans 'Delete' %}">
		</div>
	</form>
</div>
{% endblock content %}
