{% extends 'base.html' %}
{% load static %}
{% load hc %}
{% load i18n %}

{% block title %}{%trans "New post" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{%trans "New post" %}{% endblock %}

{% block head %}
	<script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
	<script src="{% static "js/tagging.min.js" %}"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
	{{ form.media }}
{% endblock %}

{% block content %}

{% if password_form %}
<form method='post'>
	{% csrf_token %}
	{{ password_form.as_p }}
	<input type='submit'>
</form>
{% else %}

<div class="section article form">
	<form action="" method="post">
	{% csrf_token %}
	<div class="item article">
		{% if form.title.errors %}
		<ul class="errorlist">
			{% for error in form.title.errors %}
			<li>{{ error | escape }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="header">
			<div class="title">
				<span class="category dropdown container{% if form.category.errors %} error" title="{% for error in form.category.errors %}{{ error | escape }}\n{% endfor %}{% endif %}" data-text="{% trans "Categories" %}">{{ form.category }}</span>
				<h2>
					{{ form.title | label_as_placeholder  }}
				</h2>
			</div>
		</div>
		{% if form.contents.errors %}
		<ul class="errorlist">
			{% for error in form.contents.errors %}
			<li>{{ error | escape }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="clear">
			{{ form.contents }}
		</div>
		<div class="footer clear">
			<div class="tags">
				{{ form.tags }}
				<div class="label meta tags">
					<span class="icon" title="{% trans "Tags" %} "></span>
					<div class="text" id="tagbox" data-tags-input-name="{{ form.tags.html_name }}"></div>
				</div>
			</div>
		</div>
	</div>
	{% if form.onetime_nick or form.onetime_password %}
	<div class="ot nav">
		{% if form.onetime_nick %}
			<label class="nick">{{ form.onetime_nick | label_as_placeholder }}</label>
		{% endif %}
		{% if form.onetime_password %}
			<label class="password">{{ form.onetime_password | label_as_placeholder }}</label>
		{% endif %}
	</div>
	{% endif %}
	<div class="nav center">
		<input class="submit" type="submit" value="{% trans "New post" %}">
	</div>
	</form>
</div>

<script>
	var $tagbox, $tags;
	$(function() {
		$tagbox = $('#tagbox');
		$tags = $('#id_tags');

		$tagbox.tagging(taggingJS_options);
		$tagbox.find('input.type-zone')
			.attr('placeholder', '{% trans "Tags" %}')
			.attr('maxlength', 32)
			.autocomplete(autocomplete_options);
		$tagbox.tagging('add', $tags.val().split(/,[ ]?/));

		if($('#id_title').val() == '') { $('#id_title').focus();
		} else if($('#id_contents').val() == '') { $('.redactor-editor').focus(); }
	});
	
	$('.section.article.form form').submit(function() {
		$tags.val($tagbox.tagging('getTags').join(','));
	});
</script>
{% endif %}
{% endblock content %}
