{% extends 'base.html' %}

{% block content %}
{{ form.media }}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
</form>
<input id='file-upload' type='file' name='files[]' multiple>
<div id='progress'>0</div>
<script>
$(function () {
	$('#file-upload').fileupload({
		url: '/x/f',
		singleFileUploads: false,
		dataType: 'json',
		formData: [
			{ name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}' }
		],
		progressall: function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('#progress').text(progress);
		},
		done: function (e, data) {
			console.log(data);
			$.each(data.result.files, function (index, file) {
				console.log(file.name);
			});
		}
	});
});
</script>
{% endblock content %}
