{% extends 'base.html' %}
{% load hc i18n urls %}
{% load intcomma from humanize %}

{% block content %}
<div class="section board">
	{% if not post %}
	<div class="header{% if post %} foldable{% endif %}">
		<div class="cell mark"></div>
		<div class="cell category sortable dropdown container">
			{% if board and board.categories.all %}
			<a href="#" class="handle label meta">
				<span class="text"><span>{% trans "Categories" %}</span></span>
			</a>
			<div class="dropdown menu">
				<a href="#" class="close">{% trans "Close" %}</a>
				<div class="tip top"><span></span></div>
				<div class="wrap">
					<ul>
						{% for cat in board.categories.all %}
						<li class="{{ cat.slug }}"><a href="{% url 'board_post_list_by_category' board.slug cat.slug %}"><span>{{ cat.name }}</span></a></li>
						{% endfor %}
						<li class="bottom"><a href="{% url 'board_post_list' board.slug %}"><span>{% trans "Clear sort/filter" %}</span></a></li>
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="cell title">{% trans "Title" %}</div>
		<div class="cell author">{% trans "Author" %}</div>
		<div class="cell timestamp sortable dropdown{% if order_by.order == 'desc' %} open{% endif %}">
			<a class="handle label meta" href="{% if order_by.column == 'created_time' and order_by.order == 'desc' %}{% del_params current_url %}{% else %}{% add_params current_url o='-ct' %}{% endif %}">
				<span class="text">{% trans "Date" %}</span>
				{% if order_by.column == 'created_time' %}<span class="icon"></span> {% endif %}
			</a>
		</div>
		<div class="cell score sortable dropdown{% if order_by.order == 'desc' %} open{% endif %}">
			<a class="handle label meta" href="{% if order_by.column == 'vote' and order_by.order == 'asc' %}{% add_params current_url o='-vt' %}{% else %}{% add_params current_url o='+vt' %}{% endif %}">
				<span class="text">{% trans "Score" %}</span>
				{% if order_by.column == 'vote' %}<span class="icon"></span> {% endif %}
			</a>
		</div>
		<div class="cell views sortable dropdown{% if order_by.order == 'desc' %} open{% endif %}">
			<a class="handle label meta" href="{% if order_by.column == 'viewcount' and order_by.order == 'asc' %}{% add_params current_url o='-vc' %}{% else %}{% add_params current_url o='+vc' %}{% endif %}">
				<span class="text">{% trans "Views" %}</span>
				{% if order_by.column == 'viewcount' %}<span class="icon"></span> {% endif %}
			</a>
		</div>
	</div>
	{% endif %}

	<ul class="post-list">
	{% for item in announcement_list %}
		{% cycle 'odd' 'even' as rowclass silent %}
		{% include "board/postlist/item.html" with notice=True %}
	{% endfor %}

	{% for item in post_list %}
		{% cycle rowclass %}
		{% include "board/postlist/item.html" %}
	{% empty %}
		{% if search %}
			<li class="empty">{% trans "There are no results." %}</li>
		{% else %}
			<li class="empty">{% trans "There are no posts here!" %}</li>
		{% endif %}
	{% endfor %}
	</ul>

	{% if search %}
		<script>$('.post-list a.post.item .cell.title .title').each(function() { $(this).html($(this).text().replace(/({{ search.query }})/gi, '<span class="highlight">$1</span>')); });</script>
	{% endif %}

	{% block bottom-nav %}
	{% endblock %}

	{% if is_paginated %}
		<div class="pages nav">
			<div class="container nowrap">
				{% if page_obj.paginator.page_range|first != page_obj.number and page_obj.paginator.page_range|first != page_obj.previous_page_number%}
					<a href="{% add_params current_url page=1 %}" class="button label meta first" title="{% trans "First" %}"><span class="icon"></span></a>
				{% endif %}
				{% if page_obj.has_previous %}
					<a href="{% add_params current_url page=page_obj.previous_page_number %}" class="button label meta prev" title="{% trans "Prev" %}"><span class="icon"></span></a>
				{% endif %}
				{% with page_start=page_obj.number|add:"-5" page_end=page_obj.number|add:"5" %}
					{% for page in page_obj.paginator.page_range|slice:"page_start:page_end" %}
						<a href="{% add_params current_url page=page %}" class="button page{% if page == page_obj.number %} current{% endif %}{% if page < page_obj.number|add:"-2" or page > page_obj.number|add:"3" %} foldable{% endif %}">{{ page }}</a>
					{% endfor %}
				{% endwith %}
				{% if page_obj.has_next %}
					<a href="{% add_params current_url page=page_obj.next_page_number %}" class="button label meta next" title="{% trans "Next" %}"><span class="icon"></span></a>
				{% endif %}
				{% if page_obj.paginator.page_range|last != page_obj.number and page_obj.paginator.page_range|last != page_obj.next_page_number %}
					<a href="{% add_params current_url page='last' %}" class="button label meta last" title="{% trans "Last" %}"><span class="icon"></span></a>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>

{% endblock content %}
