{% extends 'board/postlist/base.html' %}
{% load i18n %}

{% block title %}{{ board }} :: {{ block.super }}{% endblock %}
{% block pagename %}{% if search %}{% blocktrans %}Searching {{ board }}{% endblocktrans %}{% else %}{{ board }}{% endif %}{% endblock %}

{% block content %}
{% block post %}{% endblock %}

{{ block.super }}
{% endblock %}

{% block bottom-nav %}
<div class="nav bottom clear close">
	<div class="left">
		<a href="{% url 'board_post_list' board.slug %}" class="button">{% trans "List" %}</a>
		{% if is_best %}
			<a href="{% url 'board_post_list' board.slug %}" class="button blue checkbox checked">
		{% else %}
			<a href="{% url 'board_post_list_best' board.slug %}" class="button checkbox">
		{% endif %}
			<span class="label">
				<span class="icon"></span>
				<span class="text">{% trans "Top posts" %}</span>
			</span>
		</a>
		<div class="search button">
			<form action="{% url 'board_search' board.slug %}" method="get">
				<button type="button" class="search label meta"><span class="icon"></span></button>
				<input type="search" name="q" placeholder="{% trans "Search" %}" class="text"{% if search %} value="{{ search.query }}"{% endif %}>
				<div class="dropdown container scope">
					<a href="#" class="handle label meta">
						<span class="icon"></span>
					</a>
					<div class="dropdown menu">
					<div class="tip top"><span></span></div>
						<a href="#" class="close">{% trans "Close" %}</a>
						<ul>
							<li><a href="#"><span>cat1</span></a></li>
							<li><a href="#"><span>cat2</span></a></li>
							<li><a href="#"><span>cat3</span></a></li>
							<li><a class="checkbox checked" href="#">
								<span class="label">
									<span class="icon"></span>
									<span class="text">toggle</span>
								</span>
							</a></li>
						</ul>
					</div>
				</div>
				<a href="#" class="label meta delete">
					<span class="icon"></span>
				</a>
			</form>
		</div>
	</div>
	<div class="right">
		<a href="{% url 'board_post_create' board.slug %}" class="button blue">{% trans "New post" %}</a>
	</div>
</div>
{% endblock %}
