{% load static %}
{% load i18n %}
{% load git %}

<!DOCTYPE html>
<html lang="ko" class="no-touch">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	{% include "include/favicon.html" %}

	<script src="{% url "constants.js" %}"></script>

	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/jquery.cookie.min.js" %}"></script>
	<script src="{% static "js/jquery.timeago.kr.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "fontface/NanumGothicLight/styles.css" %}">

	<script src="{% static "js/perfect-scrollbar.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/perfect-scrollbar.css" %}">

	{% block head %}{% endblock %}

	<script src="{% static "js/base.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{% static "css/noie.css" %}">
	<![endif]-->

	<title>{% block title %}{{ request.site.name }}{% endblock %}</title>
</head>

<body>

<div id="header">
	<div id="nav">
		<div class="container">
			<div class="left">
				<div class="dropdown container menu-nav nodropdown">
					<a href="{% block href_back %}/{% endblock %}" class="handle">
						<span class="icon"></span>
						<span class="text">{% block pagename %}{{ request.site.name }}{% endblock %}</span>
					</a>
					{% comment %}
					<div class="dropdown menu">
						<a href="#" class="close">{% trans "Close" %}</a>
						<div class="tip top"><span></span></div>
						<div class="wrap">
							<ul>
								<li><a href="/"><span>{% trans "Home" %}</span></a></li>
								<li><a href="#"><span>{% trans "Favorites" %}</span></a></li>
								<li><a href="#"><span>{% trans "Notices" %}</span></a></li>
								<li><a href="#"><span>{% trans "Scanlations" %}</span></a></li>
							</ul>
						</div>
					</div>
					{% endcomment %}
				</div>
			</div>
			<div class="right">
				<div class="dropdown container menu-notifications">
					<a href="#" class="handle">
						<span class="icon">
							<span class="count">5</span>
						</span>
					</a>
					<div class="dropdown menu">
						<a href="#" class="close">{% trans "Close" %}</a>
						<div class="tip top"><span></span></div>
						<div class="wrap">
							<div class="pscroll">
								<ul>
									<li>
										<a href="#">
											<span>
												<span class="header">
													<span class="label meta author user">LDM</span>
													<span class="timestamp">2m ago</span>
													<span class="type">replied to "Hi-hihihihi"</span>
												</span>
												<span class="article"> wu ha ha ha ha! </span>
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>
												<span class="header">
													<span class="label meta author user">LDM</span>
													<span class="timestamp">2m ago</span>
													<span class="type">replied to "Hi-hihihihi"</span>
												</span>
												<span class="article"> wu ha ha ha ha! </span>
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>
												<span class="header">
													<span class="label meta author user">LDM</span>
													<span class="timestamp">2m ago</span>
													<span class="type">replied to "Hi-hihihihi"</span>
												</span>
												<span class="article"> wu ha ha ha ha! </span>
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>
												<span class="header">
													<span class="label meta author user">LDM</span>
													<span class="timestamp">2m ago</span>
													<span class="type">replied to "Hi-hihihihi"</span>
												</span>
												<span class="article"> wu ha ha ha ha! </span>
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>
												<span class="header">
													<span class="label meta author user">LDM</span>
													<span class="timestamp">2m ago</span>
													<span class="type">replied to "Hi-hihihihi"</span>
												</span>
												<span class="article"> wu ha ha ha ha! </span>
											</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span>
												<span class="header">
													<span class="label meta author user">LDM</span>
													<span class="timestamp">2m ago</span>
													<span class="type">replied to "Hi-hihihihi"</span>
												</span>
												<span class="article"> wu ha ha ha ha! </span>
											</span>
										</a>
									</li>
								</ul>
							</div>
							<a href="#">{% trans "Mark all as read" %}</a>
						</div>
						<script> $('.dropdown.container.menu-notifications .menu .pscroll').perfectScrollbar({ supressScrollX: true }); </script>
					</div>
				</div>
				<div class="dropdown container menu-personal">
					{% if user.is_authenticated %}
						<a href="#" class="handle">
							<span class="icon"></span>
							<span class="text">{{ user.nickname }}</span>
						</a>
						<div class="dropdown menu">
							<a href="#" class="close">{% trans "Close" %}</a>
							<div class="tip top"><span></span></div>
							<div class="wrap">
								<ul>
									<li><a href="{% url 'user_profile' user.id %}">
										<span class="mobile">{{ user.nickname }}</span>
										<span class="desktop">{% trans "Profile" %}</span>
									</a></li>
									<li><a href="#"><span>{% trans "Notifications" %}</span></a></li>
									<li><a href="{% url 'account_settings' %}"><span>{% trans "Account settings" %}</span></a></li>
									<li><a href="{% url 'account_logout' %}"><span>{% trans "Log out" %}</span></a></li>
								</ul>
							</div>
						</div>
					{% else %}
						<a href="{% url 'account_login' %}" class="handle">
							<span class="icon"></span>
							<span class="text">{% trans "Log in" %}</span>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="wrapper">
	{% if messages %}
		<ul id="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="contents">
		{% block content %}{% endblock %}
	</div>
</div>

<div id="footer" class="center">
	<img src="{% static "img/footer_3x.png" %}">
	<p>© 2014-{% now "Y" %} herocomics All rights reserved.</p>
	<p title="Designed by SolidStud!o">Powered by hydrocarbon engine (r{% git_short_version %})</p>
</div>

<div id="overlay">
	<div class="tooltip" id="tooltip">
		<div class="tip top"><span></span></div>
		<div class="container">
			<p></p>
		</div>
		<div class="tip bottom" style="display:none"><span></span></div>
	</div>
</div>

<!--[if lt IE 9]>	
<div id="noie">
	<h2></h2>
	<h1><span>!</span></h1>
	<p>{% trans "This site doesn't support browser older than IE9." %}</p>
	<p>{% trans "How about using more safe, fast, up-to-date and user-friendly browsers?" %}</p>
	<ul>
		<li><a href="http://www.microsoft.com/windows/internet-explorer/" target="_blank">Microsoft Internet Explorer (newer version)</a></li>
		<li><a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a></li>
		<li><a href="http://www.mozilla.or.kr/firefox/" target="_blank">Mozilla Firefox</a></li>
		<li><a href="http://www.apple.com/safari/" target="_blank">Apple Safari</a></li>
		<li><a href="http://www.opera.com/browser/" target="_blank">Opera</a></li>
	</ul>
</div>
<![endif]-->

</body>

</html>
