{% load static %}
{% load i18n %}

{% trans request.site.name as site_name %}

<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	{% include "include/favicon.html" %}

	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/jquery.cookie.min.js" %}"></script>
	<script src="{% static "js/base.js" %}"></script>

	<link rel="stylesheet" href="{% static "fontface/NanumGothicLight/styles.css" %}">
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/summernote-bs3.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<title>{% block title %}{{ site_name }}{% endblock %}</title>
</head>

<body>

<div id="header">
	<div id="nav">
		<div class="container">
			<div class="left">
				<div class="dropdown container menu-nav">
					<a href="#" class="handle">
						<span class="icon"></span>
						<span class="text">{% block pagename %}<span class="default">{{ site_name }}</span>{% endblock %}</span>
					</a>
					<div class="dropdown menu">
						<a href="#" class="close">{% trans "Close" %}</a>
						<div class="tip top"><span></span></div>
						<ul>
							{% comment %}
								- code for future use

								{% for item in nav_menu_list %}
									<li><a href="{{ item.absurl }}">{{ item.title }}</a></li>
								{% endfor %}
							{% endcomment %}

							<li><a href="/"><span>{% trans "Home" %}</span></a></li>
							<li><a href="#"><span>{% trans "Favorites" %}</span></a></li>
							<li><a href="#"><span>{% trans "Notices" %}</span></a></li>
							<li><a href="#"><span>{% trans "Scanlations" %}</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="dropdown container menu-personal">
					{% if user.profile.nick %}
						<a href="#" class="handle">
							<span class="icon"></span>
							<span class="text">{{ user.profile.nick }}</span>
						</a>
						<div class="dropdown menu">
							<a href="#" class="close">{% trans "Close" %}</a>
							<div class="tip top"><span></span></div>
							<ul>
								{% comment %}
									- code for future use

									{% for item in login_menu_list %}
										<li><a href="{{ item.absurl }}">{{ item.title }}</a></li>
									{% endfor %}
								{% endcomment %}

								<li><a href="/accounts/profile"><span>{% trans "Profile" %}</span></a></li>
								<li><a href="#"><span>{% trans "Submitted" %}</span></a></li>
								<li><a href="#"><span>{% trans "Inbox" %}</span></a></li>
								<li><a href="/accounts/logout"><span>{% trans "Log out" %}</span></a></li>
							</ul>
						</div>
					{% else %}
						<a href="/accounts/login" class="handle">
							<span class="icon"></span>
							<span class="text">{% trans "Log in" %}</span>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div id="wrapper">
	{% if messages %}
		<ul id="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="contents">
		{% block content %}{% endblock %}
	</div>
</div>

<div id="footer" class="center">
	<img src="{% static "img/footer_3x.png" %}">
	<p>© 2014 herocomics All rights reserved.</p>
	<p title="Designed by SolidStud!o">Powered by hydrocarbon engine</p>
</div>

<div id="overlay">
	<div id="tooltip">
		<div class="tip top"><span></span></div>
		<div class="container">
			<p></p>
		</div>
		<div class="tip bottom" style="display:none"><span></span></div>
	</div>
</div>

</body>

</html>
