{% load static %}
{% load i18n %}

{% trans request.site.name as site_name %}

<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "js/base.js" %}"></script>
	{% if touch %}<script src="{% static "js/touch.js" %}"></script>{% endif %}

	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<title>{% block title %}{{ site_name }}{% endblock %}</title>
</head>

<body>

<div id="header">
	<nav id="nav">
		{% include "include/nav.html" %}
	</nav>
</div>

<div id="wrapper">
	<div class="contents">
		{% block content %}{% endblock %}
	</div>
</div>

<footer id="footer">
	<img src="{% static "img/footer.png" %}">
	<p title="Designed by SolidStud!o">© 2014 herocomics All rights reserved.</p>
</footer>

<div id="overlay">
	<div id="tooltip">
		<div class="tip top"><span class="left"></span><span class="right"></span></div>
		<div class="container">
			<p></p>
		</div>
		<div class="tip bottom" style="display:none"><span class="left"></span><span class="right"></span></div>
	</div>
</div>

</body>

</html>
