
@font-face {
  font-family: 'NanumGothicLight';
  src: url('NanumGothicLight.eot?#iefix') format('embedded-opentype'),  url('NanumGothicLight.woff') format('woff'), url('NanumGothicLight.ttf')  format('truetype'), url('NanumGothicLight.svg#NanumGothicLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
