{% load i18n %}

<div class="container">
	<div class="left">
		<div id="menu">
			<a href="#" class="handle">
				<span class="button icon"></span>
				<span class="button text"><span>{{ site_name }}</span></span>
			</a>
		</div>
	</div>
	<div class="right">
		<div id="login">
			{% if user.profile.nick %}
			<a href="/accounts/profile" class="handle" title="{{ user.username }}">
				<span class="button icon"></span>
				<span class="button text">{{ user.profile.nick }}</span>
			</a>
			{% else %}
			<a href="/accounts/login" class="handle">
				<span class="button icon"></span>
				<span class="button text">{% trans "Log in" %}</span>
			</a>
			{% endif %}
		</div>
	</div>
</div>
