{% comment %}
	nav.html

	VARIABLES

user = the user
	user.key = the unique key of the user (both for signed-ins and non-signed-ins)
			for signed-ins we can probably use the account
			for non-signed-ins we can use IP to generate them
	user.name = the name of the user (not for non-signed-ins)

nav_menu_list = the list that has navigation menu in it (duh)
	nav_menu_list.absurl = absolute url to the menu page
	nav_menu_list.title = the name of the menu

personal_menu_list = the list that has personal menu in it (double duh)

{% endcomment %}

{% load i18n %}

<div class="container">
	<div class="left">
		<div id="menu">
			<a href="#" class="handle">
				<span class="button icon"></span>
				<span class="button text"><span>{% trans site.name %}</span></span>
			</a>
			{% comment %}
			<div class="popup">
				<ul>
					{% for item in nav_menu_list %}
						<li><a href="{{ item.absurl }}">{{ item.title }}</a></li>
					{% endfor %}

					{# Of course we can just hard-code it.

					<li><a href="#">홈</a></li>
					<li><a href="#">즐겨찾기</a></li>
					<li><a href="#">공지사항</a></li>
					<li><a href="#">번역</a></li>

					#}
				</ul>
			</div>
			{% endcomment %}
		</div>
	</div>
	<div class="right">
		<div id="login">
			<a href="/accounts/login" class="handle">
				<span class="button icon"></span>
				<span class="button text">{{ user.name|default:_("Log in") }}</span>
			</a>
			{% comment %}
			<div class="popup">
				{% if not user.auth %}
					{# If user has not signed in - show login form #}
					<div class="tip">
						<span class="left"></span>
						<span class="right"></span>
					</div>
					<div class="container">
						<form action="#" method="post">
						<div class="close">
							<a href="#" class="close button"><span>닫기</span></a>
						</div>
						<div class="inputs">
							<div class="id">
								<label for="id">아이디</label>
								<input id="id" name="id" type="email">
							</div>
							<div class="password">
								<label for="password">비밀번호</label>
								<input id="password" name="password" type="password">
							</div>
						</div>
						<div class="persist">
							<input name="persist" type="hidden">
							<span class="checkbox"><span></span>로그인 유지</span>
						</div>
						<div class="submit">
							<button class="white">로그인</button>
						</div>
						<div class="help">
							<p><a href="#">히어로코믹스 가입하기</a></p>
							<p>아니면 <a href="#">비밀번호를 잃어버리셨나요?</a></p>
						</div>
					</div>
				{% else %}
					{# Or if user has signed in - show personal menu #}
					{% for item in personal_menu_list %}
						<li><a href="{{ item.absurl }}">{{ item.title }}</a></li>
					{% endfor %}

					{# Of course we can just hard-code it, too!

					<li><a href="#">회원 정보</a></li>
					<li><a href="#">쪽지함</a></li>
					<li><a href="#">내가 쓴 글</a></li>
					<li><a href="#">내가 추천한 글</a></li>
					<li><a href="#">로그아웃</a></li>

					#}
				{% endif %}
			</div>
			{% endcomment %}
		</div>
	</div>
</div>