{% extends "registration/registration_base.html" %}
{% load hc %}
{% load i18n %}

{% block title %}{% trans "Log in" %} :: {{ block.super }}{% endblock %}

{% block content %}

{% include "include/banner.html" %}
{{ form.non_field_errors }}
<div id="form-login">
	<form method="post" action="">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}" />
		<ul>
			{% for field in form %}
			<li class="field">
				{{ field | label_as_placeholder }}
				{{ field.errors }}
			</li>
			{% endfor %}
		</ul>
		<div class="center">
			<input class="submit" type="submit" value="{% trans 'Log in' %}" />
		</div>
	</form>
	<div class="meta">
		<p>{% trans "Do you have no account?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
		<p>{% trans "Lost your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Click here" %}</a></p>
	</div>
</div>

{% endblock %}
