{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %} :: {{ block.super }}{% endblock %}

{% block content %}


<div id="form_login">
	{% include "include/banner.html" %}
	{{ form.non_field_errors }}
	<form method="post" action="">
		{% csrf_token %}
		<ul>
			{% for field in form %}
			<li class="field">
				{{ field }}
				<label for="{{ field.id_for_label }}"{% if field.errors %} class="error"{% endif %}><span>{{ field.label }}</span></label>
				{{ field.errors }}
			</li>
			{% endfor %}
		</ul>
		<input class="submit" type="submit" value="{% trans 'Log in' %}" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

	<div class="meta">
		<p>{% trans "Do you have no account?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
		<p>{% trans "Lost your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Click here" %}</a></p>
	</div>
</div>

{% endblock %}
