{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{% trans "Logged out" %}{% endblock %}

{% block content %}

<div class="simple_notice">
	<p>
		{% trans "Successfully logged out" %}.<br>
		{% trans "Returning to the main page..." %}
	</p>
</div>

<script> window.setTimeout(function() { window.location = window.location.protocol+'//'+window.location.host; }, 5000); </script>

{% endblock %}
