{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %} :: {{ block.super }}{% endblock %}
{% block pagename %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}

{{ form.non_field_errors }}
<div id="form">
	<form method="post" action="">
		{% csrf_token %}
		<div class="simple_notice">
			<p>
				{% trans "Enter your new password below to reset your password:" %}
			</p>
		</div>
		<ul>
			{% for field in form %}
			<li class="field">
				<label{% if field.errors %} class="error"{% endif %}><span>{{ field.label }}</span>{{ field }}</label>
				{{ field.errors }}
			</li>
			{% endfor %}
		</ul>
		<div class="center">
			<input class="submit" type="submit" value="{% trans 'Set password' %}" />
		</div>
	</form>
</div>

{% endblock %}
