{% load i18n %}
{% load url from future %}

{% blocktrans %}
Hello {{ user }}.
{% endblocktrans %}
{% blocktrans %}
This mail is for a {{ domain }} member who requested password reset
or change. If you never have done that and presume that someone
 is trying to log in with your account without your permission,
 you can ignore this mail and we'll keep your account safe.
{% endblocktrans %}
{% blocktrans %}
To reset your password, please press the link below, or copy and paste it
into your web browser:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans with user.username as user_username %}
For your reminder, the ID that belongs to this mail is {{ user_username }}
{% endblocktrans %}

{% blocktrans %}
With regards,
{{ site_name }}
{% endblocktrans %}
