{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %} :: {% trans "Herocomics" %}{% endblock %}

{% block content %}

{% include "include/banner.html" %}
{{ form.non_field_errors }}
<div id="form">
    <form method="post" action="">
        {% csrf_token %}
    
        <ul>
            {% for field in form %}
            <li class="field">
                <label{% if field.errors %} class="error"{% endif %}><span>{{ field.label }}</span>{{ field }}</label>
                {{ field.errors }}
            </li>
            {% endfor %}
        </ul>
    
        <input class="submit" type="submit" value="{% trans 'Register' %}" />
    </form>
</div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}