@charset "UTF-8";

//
// 	article.scss
// 		the main article
//

.section.article {
	.item.article {
		.header {
			.title {
				background:$grey-95; font-size:0; padding:10px 5%;

				.category {
					color:$darkgrey; display:table-cell; font-size:$font-size; white-space:nowrap;
					.handle.label.meta { padding-left:2px; }
				}
				h2 { display:table-cell; font-size:22px; font-weight:normal; line-height:28px; padding-left:10px; vertical-align:baseline; }

				.label.meta.comments {
					margin-left:.5em; vertical-align:text-bottom;
					.no-touch &:hover { color:$black; opacity:.6; }
				}
			}

			div.meta {
				background:$grey-90; padding:5px 5%;
				.label.meta {
					margin-right:5px;
					.no-touch &:hover { color:$black; }
				}
			}

			@media screen and (max-width: $medium) {
				.title h2 { font-size:18px; line-height:24px; }
				div.meta .label.meta .text { font-size:$font-size - 1; }
			}

			@media screen and (max-width: $small) {
				.title h2 { font-size:16px; line-height:22px; }
				div.meta .label.meta {
					.icon { margin-right:2px; }
					.text {
						font-size:0;
						span { font-size:$font-size - 2; }
					}
				}
			}
		}

		div.article {
			width:540px; line-height:20px; margin:20px auto !important;

			@media screen and (max-width: $medium) { width:90%; }
		}

		.vote.vote-post {
			font-size:0; margin:30px 0; text-align:center;

			a {
				width:80px; border-radius:2px; color:$white; display:inline-block; margin:0 5px; opacity:.3; padding:5px 0; transition:opacity .2s ease;

				.icon {
					height:20px; background:url("../img/vote_1x.png") no-repeat; background-size:20px; display:block;

					@media
					screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx),
					screen and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2) {
						background-image:url("../img/vote_2x.png");
					}

					@media
					screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx),
					screen and (-webkit-min-device-pixel-ratio: 2.1) and (-webkit-max-device-pixel-ratio: 3) {
						background-image:url("../img/vote_3x.png");
					}
				}
				.text { display:block; font-size:$font-size; line-height:20px; }

				.no-touch &:hover { opacity:.7; }
				&:active { opacity:1; }
				&.voted { opacity:.9; }

				&.upvote { background:$blue-base; }
				&.upvote .icon { background-position:50% 0; }
				&.downvote { background:$red; }
				&.downvote .icon { background-position:50% -20px; }
			}
		}

		.footer {
			margin:20px 5%; padding:5px 3%;
			.icon { margin-right:4px; }
		}
	}

	&.detail .comments-list { border-top:1px solid $grey-90; }
	.comments-list {
		margin:0 5%; padding:10px 7% 0;

		li.list.item,
		li.write,
		li.modify,
		li.empty { list-style:none; }
		.list.item {
			&.guest, &.owned {
				.comment .bubble.item .header .dropdown li.manipulate { display:block; }
			}
		}

		li.empty { color:$darkgrey; padding:20px 0 30px; }

		.comment {
			.bubble {
				&.item {
					background:$grey-95; border-left:5px solid transparent; border-radius:4px; box-shadow:0 1px 1px $grey-85; line-height:20px; padding-right:5px;

					.header {
						cursor:pointer; margin:0 10px;

						.left, .right { padding-top:5px; }

						a.fold { display:inline-block; }
						.label.meta.handle .icon { background-position:0 -168px; }

						.depth {
							color:$grey; display:inline-block; line-height:20px; pointer-events:none;
							i.fa { font-size:.8em; line-height:20px; }
						}

						.meta { display:inline-block; font-size:$font-size; vertical-align:top; }
						.meta + .meta { margin-left:5px; }

						.meta.author .text,
						.hidden.author,
 						.meta.score .text { color:$darkgrey; font-size:$font-size - 2; }
						.meta.timestamp { color:$grey; font-size:$font-size - 2; }

						.hidden.author { display:none; }

						.no-touch & a.author:hover { color:$black; }

						.dropdown {
							&.container { display:inline-block; }
							&.handle .icon { margin:4px; }

							.tip { padding:0 5px; text-align:right; }

							&.menu {
								li.upvote.voted { background-color:$blue-base; }
								li.downvote.voted { background-color:$red; }
								li.manipulate { display:none; }
							}
						}
					}

					.article {
						padding:5px 10px;
						.froala-box {
							.froala-editor { border-bottom:1px solid $grey-90 !important; }
							.froala-wrapper .froala-view { min-height:80px !important; background:none; padding:5px 0; }
							.fr-placeholder { margin:0; }
						}
					}

					.footer {
						border-top:1px solid $grey-90; margin:0 10px; overflow:hidden; padding:0 0 5px;
						.nav {
							max-height:30px; font-size:0; padding:0; vertical-align:top; white-space:nowrap;

							&.ot {
								width:60%; float:left; margin:5px 0;

								.nick { width:50%; }
								.password { width:100%; }
								.nick + .password { width:50%; }
							}

							&.clear {
								height:30px; margin:5px 0;
								.right { height:inherit; }
							}
						}
					}

					@media screen and (max-width: $medium) {
						.footer {
							.nav {
								&.ot {
									width:auto; float:none;
								}

								&.clear {
									.right { float:none; text-align:right; }
								}
							}
						}
					}
				}

				&.tip {
					height:10px; overflow:hidden; padding:0 6%; text-align:right;
					span { border-right-color:$grey-95; border-top-color:$grey-95; border-width:10px; }
				}
			}
		}

		@media screen and (max-width: $medium) { margin:0 2%; padding:10px 5% 0; }
		@media screen and (max-width: $small) {
			margin:0; padding:10px 0 0;
			.comment  .bubble.item { border-radius:0; }
			.comment  .bubble.item.indent { border-radius:4px 0 0 4px; }
		}

		.owned > .comment {
			.bubble {
				&.item { border-left-color:$blue; }
				&.tip { text-align:left;
					span { border-left-color:$grey-95; border-right-color:transparent; }
				}
			}
		}

		.hidden > .comment {
			.bubble {
				&.item {
					.header {
						border:0; opacity:.5; padding-bottom:5px;
						.label.meta.handle .icon { background-position:0 -156px; }
						.hidden.author { display:inline; }
						.label.meta.author,
						.label.meta.score,
						.dropdown.container { display:none; }
					}
					.article, .footer { display:none; }
				}
				&.tip { visibility:hidden; }
			}
		}
	}

	.nav {
		background:$grey-95;
		@media screen and (max-width: $small) { .button.checkbox { display:none; } }
	}
}
