@charset "UTF-8";

// 	
// 	base.scss
// 		basic css initialization
// 		also the most basic ones like .clear
// 	

* { margin:0; padding:0; }

::selection { background:$blue-base; color:$white; text-shadow:none; }

::-ms-clear,
::-ms-reveal { display:none; }

body { color:$black; font:$font-size "NanumGothic"; letter-spacing:-.03em;
	@media screen and (mim-device-width: $large + 1) { overflow:initial !important; overflow-y:scroll !important; }
}
button, input, select, textarea { outline:none; }

a { color:$black; text-decoration:none; }
.no-touch a:hover { color:$grey; }
.no-touch a.label:hover,
.no-touch a:hover .label { color:$black; opacity:.6; }

.button {
	display:inline-block;
	&.image > span { display:none; }
}

.icon, .text { display:inline-block; }
.label { display:inline-block; line-height:20px; }

.clear:after { clear:both; content:""; display:block; }

.left { float:left; white-space:nowrap; }
.right { float:right; white-space:nowrap; }
.center { text-align:center; }

.nowrap { white-space:nowrap; }

textarea[name=contents] { background:transparent; border:0; }

#overlay div { z-index:1054; }

body { background:#e5e5e5; }
@media screen and (max-device-width: $small) {
	body.hovered { overflow:hidden; }
}

#wrapper { width:720px; background:#fff; box-shadow:0 0 10px rgba(0,0,0,.1); margin:0 auto; margin-top:50px;
	@media screen and (max-device-width: $large) { width:100%; }
}

#footer {
	color:$lightgrey-base; font-size:$font-size - 2; padding:30px 0;

	img { width:98px; }

	@media screen and (max-device-width: $small) {
		color:$grey; padding:10px 0;
		img { display:none; }
	}
}
