@charset "UTF-8";

//
// 	base.scss
// 		basic css initialization
// 		also the most basic ones like .clear
//

* { margin:0; padding:0; }

::selection { background:$blue-base; color:$white; text-shadow:none; }

::-ms-clear,
::-ms-reveal { display:none; }

body { background:#e5e5e5; color:$black; font:$font-size "NanumGothic", "Malgun Gothic", sans-serif; letter-spacing:-.04em;
	@media screen and (min-width: $large + 1) { overflow:initial !important; overflow-y:scroll !important; }
}
button, input, select, textarea { outline:none; }
input { border-radius:0; }

div { -webkit-tap-highlight-color:transparent; }
a, button, input { -webkit-tap-highlight-color:initial; }
a { color:$black; text-decoration:none; }
.no-touch a:hover { color:$grey; }

.button {
	display:inline-block;
	&.image > span { display:none; }
}

.icon, .text { display:inline-block; }
.label { display:inline-block; line-height:20px; }

.clear:after { height:0; clear:both; content:""; display:block; }

.left { float:left; white-space:nowrap; }
.right { float:right; white-space:nowrap; }
.center { text-align:center; }

.nowrap { white-space:nowrap; }

textarea[name=contents] { background:transparent; border:0; }
input[type=password] { ime-mode: disabled; }

#overlay div { z-index:2500; }

#wrapper { width:780px; background:#fff; box-shadow:0 0 10px rgba(0,0,0,.1); margin:0 auto; margin-top:50px;
	@media screen and (max-width: $large) { width:100%; overflow-x:hidden; }
}

#footer {
	color:$lightgrey-base; font-size:$font-size - 2; line-height:1; padding:30px 0;

	img { width:98px; }

	@media screen and (max-width: $small) {
		color:$grey; padding:10px 0;
		img { display:none; }
	}
}
