@charset "UTF-8";

// 	
// 	board.scss
// 		the main board
// 	

.section.board { font-size:0;	

	.header {
		cursor:default;

		.cell { font-size:$font-size - 1; line-height:20px; padding:10px 0 5px; }
		.cell.category {
			position:static;
			.label.meta {
				.text { font-size:inherit; }
				.no-touch &:hover .text { color:$black; }
			}
		}

		.dropdown .tip { width:45px; }
	}

	.post-list { border-top:1px solid $grey-95; }
	&.tab .post-list { border:0; }

	li.empty { font-size:$font-size; line-height:20px; list-style:none; padding:15px 0; text-align:center; }

	.item {
		display:block;

		.no-touch &:hover,
		.no-touch &:hover .cell a { color:$darkgrey; }

		&.even { background:$grey-95; }
		&.announcement { background:#fff7cc; }
		&.announcement.even { background:#f2eac2; }
		&.announcement .cell.author .label.meta { display:none; }
		&.currentpost .cell.mark { font-size:$font-size - 4; }

		&.hidden .cell {
			color:$grey; padding:5px 0; visibility:hidden;
		
			&.mark,
			&.title { visibility:visible; }
			&.title span.title { font-size:$font-size - 1; }
			&.meta { display:none; }
		}
		
		.cell {
			line-height:20px; padding:15px 0;

			&.mark { height:20px; }
			&.title span.title { font-size:16px; }
			&.title span.title .highlight { background:#fff7cc; color:$red-base; }
			&.title .label.meta.comments { margin-left:.5em; }			
		}

		br { display:none; }
	}

	.cell {
		display:inline-block; font-size:$font-size; overflow:hidden; text-align:center; vertical-align:top;

		&.mark { width:3%; font-size:0; }
		&.category { width:9%; }
		&.title { width:44%; text-align:left; text-overflow:ellipsis; white-space:nowrap; }
		&.author { width:16%; }
		&.author .label.meta { width:100%; }
		&.author .text { max-width:calc(100% - 20px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
		&.timestamp { width:11%; white-space:nowrap; }
		&.score { width:7%; }
		&.views { width:7%; margin-right:3%; }
	}

	.nav.bottom { background:$grey-90;  position:relative; }

	.search.button {
		form {
			.scope .dropdown.menu ul { left:-50%; position:relative; white-space:nowrap; }
			.scope .dropdown.menu li { display:inline-block; }
		}
	}

	.pages {
		background:$grey-90; padding:10px 0; text-align:center;

		& > .container { border-radius:2px; display:inline-block; overflow:hidden; }

		.button { height:20px; min-width:initial; border-radius:0; margin:0; padding:5px 10px; }
		.button.current { background:$blue; color:$white; }
	}

	.nav.bottom + .pages { background:$grey-95; }

	@media screen and (min-width: $medium + 1) {
		.item {
			&.scanlation .cell.mark { background:$blue; color:$white; }
			&.news .cell.mark { background:$green; color:$white; }
			&.subtitles .cell.mark { background:$red; color:$white; }

			.cell.meta {
				.label.meta { margin:0; }
				.label.meta .icon { display:none; margin:0; }
			}
		}
	}

	@media screen and (max-width: $medium) {
		.header {
			background:$grey-90; padding:10px 4%;
			.cell { display:none; }
			.sortable {
				width:auto; display:inline-block; padding:0;

				.handle.label.meta {
					background:$lightgrey; border-radius:2px; display:inline-block; font-size:$font-size; overflow:hidden; margin-left:10px; padding:5px 10px; text-align:center;
					.no-touch &:hover { background:$lightgrey-trans; }
					.tip { text-align:left; }
				}
				&.category .handle.label.meta { margin:0; margin-right:10px; }
				&.timestamp .handle.label.meta { margin:0; }
			}
			
			&.foldable { display:none; }
		}

		.item {
			padding:5px 2%; padding-left:0;

			&.currentpost .cell.mark { visibility:visible; }

			&.announcement .cell.category { background:transparent; }
			&.scanlation .cell.category { background:$blue; color:$white; }
			&.news .cell.category { background:$green; color:$white; }
			&.subtitles .cell.category { background:$red; color:$white; }

			.cell {
				line-height:20px; padding:0;

				&.mark { height:20px; width:4%; background:transparent; visibility:hidden; }
				&.category { width:auto; max-width:8%; background:$grey-85; border-radius:2px; font-size:$font-size - 2; padding:0 1.5%; }
				&.title {
					width:75%; margin-left:2%; margin-right:4%;
					span.title { font-size:$font-size; }
				}
				&.meta {
					width:auto; display:inline-block; opacity:.4; padding:0; text-align:left;
					
					.label.meta { margin-right:10px; }
					.icon { margin-right:2px; }
					.text { font-size:$font-size - 2;}
				}
				&.author { margin-left:4%; }
				&.author .icon { display:none; }
				&.author .text { max-width:none; }
				&.views { margin:0; }
			}
			&.announcement .cell.category { background:rgba(0,0,0,.1); }

			br { display:inline; }
		}

		.close {
			.search.button {
				form {
					width:30px; display:inline-block;
					input.text { width:0; }
					.scope { display:none; }
				}
			}
		}

		.open {
			.left { float:none; }
			.button { display:none; }
			.search.button {
				display:block; margin-left:0;
				form {
					width:100%; display:table;
					.label.meta.delete { display:table-cell; }

					.scope .dropdown {
						&.menu {
							width:92%; right:0; margin:0 4%;

							.tip { width:auto; padding:0 40px; text-align:right; }
							ul { left:auto; position:static; overflow:hidden; overflow-x:auto; }
						}
					}
				}
			}

			.right { display:none; }
		}
	}

	@media screen and (max-width: $small) {
		.item .cell.author .label.meta { margin-right:5px; }
		.pages .button.foldable { display:none; }
	}
	
}

.search.button {
	height:30px; font-size:0; padding:0; vertical-align:top;

	form {
		height:inherit;

		input,
		.scope { display:table-cell; vertical-align:top; }

		.search.label.meta {
			height:30px; width:30px; background:none; border:0;

			.icon { margin:8px; }
			.no-touch &:hover { background:rgba(0,0,0,.1); }
		}

		input[type=search] { width:calc(100% - 30px); background:transparent; border:0; font-size:$font-size; line-height:inherit; padding:5px 0; }
		
		.scope {
			height:30px; width:30px; background:rgba(0,0,0,.1); cursor:default; position:static;
			.no-touch &:hover { background:rgba(0,0,0,.2); }
			.handle { width:100%; padding:5px 0; }
			.dropdown.menu .tip { width:10px; }
		}

		.label.meta.delete {
			width:30px; background:rgba(0,0,0,.2); display:none; padding:5px 0;
			.icon { margin:4px; }
		}
	}

	&:hover { background:$lightgrey !important; }
}
