@charset "UTF-8";

// 	
// 	common.scss
// 		things that will be used multiple times
// 	

// 
// .tip
// 	balloon tips
//	needs border
.tip {
	font-size:0; line-height:0; text-align:center;
	span { height:0; width:0; border: 5px solid transparent; display:inline-block; }
}

// 
// #tooltip
//	JS tooltip
// 
#tooltip {
	display:none; opacity:0; pointer-events:none; position:absolute;
	
	.tip.bottom { display:none; }
	.tip.top span { border-bottom-color:$black-trans; }
	.tip.bottom span { border-top-color:$black-trans; }
	.container { background:$black-trans; border-radius:4px; padding:0 8px; text-align:center;
		p { color:#fff; line-height:20px; padding:5px; white-space:nowrap; }
	}
}

// 
// .checkbox
//	JS checkbox (or just for style)
// 	use .checked for checked ones
// 
.checkbox {
	display:inline-block;

	.icon { height:12px; width:12px; background-color:$checkbox; border-radius:2px; display:inline-block; margin-right:5px; vertical-align:middle; }
	&.checked .icon { background-image:url("../img/checkbox_1x.png"); background-position:0 0; background-repeat:no-repeat; background-size:68px; }
	&.medium {
		.icon { height:24px; width:24px; border-radius:4px; }
		&.checked .icon { background-position:-12px 0; }
	}
	&.large {
		.icon { height:32px; width:32px; border-radius:6px; }
		&.checked .icon { background-position:-36px 0; }
	}
}

// 
// .submit
//	standard submit button
// 	mostly used in registration forms
// 
.submit { background:$blue; border:0; border-radius:4px; color:$white; cursor:pointer; display:inline-block; font-size:16px; line-height:60px; padding:0 3em; text-align:center; text-decoration:none; }
.submit:hover { background:$blue-trans; }

// 
// .nav
//	for your various navbar experience
// 	also includes buttons
// 
.nav {
	font-size:0; padding:5px 15px;
	.button {
		background:$lightgrey; border-radius:2px; font-size:$font-size; line-height:30px; margin:5px; overflow:hidden; padding:0 10px; text-align:center;
		&:hover { background:$lightgrey-trans; color:$black; }
		&.blue { background:$blue; color:#fff; }
		&.blue:hover { background:$blue-trans; }
	}
}

// 
// .dropdown
//	dropdown menu
// 

.dropdown {
	display:none; margin:5px 0; position:absolute; text-align:left; z-index:2;
	.dropdown-handle.active & { display:block; }

	.tip { padding:0 10px; position:relative; }
	.tip span { border:3px solid #fff; border-top-color:transparent; }
	ul { background:#fff; border-radius:4px; box-shadow:0 2px 10px rgba(0,0,0,.3); overflow:hidden; }
	li { list-style:none; }
	li:hover { background:rgba(61,156,204,.9); }
	li:hover a { color:#fff; }
	a { width:100%; display:inline-block; padding:10px 15px; }
}

// 
// .label.meta
//	multiuse meta label with icon
// 
.label.meta {
	font-size:0; display:inline-block; vertical-align:top;
	
	@media screen and (max-device-width: $small) { font-size:.8em; }

	$meta-size: 12px;

	.icon, .text { display:inline-block; vertical-align:middle; }
	.text { font-size:$font-size; }
	.text span { vertical-align:top; }

	.icon { height:$meta-size; width:$meta-size; background:url("../img/meta_1x.png") no-repeat; margin-right:8px; }

	&.author:after { content:"•"; font-size:$font-size * 1.5; vertical-align:top; }
	&.author.user:after { color:$blue-base; }
	&.author.guest:after { color:$grey; }
	&.author.moderator:after { color:$red; }

	&.author .icon { background-position:0 0; }
	&.comments .icon { background-position:0 $meta-size * -1; }
	&.timestamp .icon { background-position:0 $meta-size * -2; }
	&.score .icon { background-position:0 $meta-size * -3; }
	&.views .icon { background-position:0 $meta-size * -4; }
	&.refresh .icon { background-position:0 $meta-size * -5; }
	&.reply .icon { background-position:0 $meta-size * -6; }
	&.modify .icon { background-position:0 $meta-size * -7; }
	&.delete .icon { background-position:0 $meta-size * -8; }
	&.first .icon { background-position:0 $meta-size * -9; }
	&.prev .icon { background-position:0 $meta-size * -10; }
	&.next .icon { background-position:0 $meta-size * -11; }
	&.last .icon { background-position:0 $meta-size * -12; }
	.dropdown-handle & .icon { background-position:0 $meta-size * -13; vertical-align:top; }
	.dropdown-handle.active & .icon { background-position:0 $meta-size * -14; }

	@media screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx) {
		.icon { background-image:url("../img/meta_2x.png"); background-size:100%; }
	}

	@media screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx) {
		.icon { background-image:url("../img/meta_3x.png"); background-size:100%; }
	}
}
