@charset "UTF-8";

//
// 	froala.scss
// 		froala specific styles
//

.fr-element,
.froala-element {
	min-height:0; line-height:1.6em;
	*:last-child { margin-bottom:0; }
	blockquote:last-child { margin-bottom:10px; }

	p { margin:0 0 1em; }

	a { color:$blue-base; }
	a:hover { color:$blue; text-decoration:underline; }
	a:active { color:$blue-trans; }
	a:visited { color:$grey; }

	li { margin:0 0 3px; }
	li p { margin:0; }
	li ol, li ol:last-child,
	li ul, li ol:last-child { margin:0 0 10px; }

	img,
	iframe { max-width:100%; }

	h1, h2,
	.format-h1, .format-h2 { font-family:"NanumGothic Light"; }

	h1, h2, h3, h4, h5, h6 { padding:0px 10px; }
	h1, .format-h1 { border-bottom:1px solid $grey-90; font-size:24px; padding:5px 10px; }
	h2, .format-h2 { font-size:22px; }
	h3, .format-h3 { font-size:20px; }

	strike, del, .spoiler {
		background:$black; color:$black; text-decoration:initial;
		a { color:$black !important; }
		&:hover { color:$white;
			a { color:$grey-base !important; }
		}
	}

	a {
		strike, del, .spoiler {
			&:hover { color:$grey-base; }
		}
	}

	blockquote, pre { font-style:normal; margin-top:10px; margin-bottom:10px; }
	iframe { border:0; margin:10px auto; }

	ul, ol { margin:10px 0; padding-left:25px; }
}

.froala-editor {
	font-family:"NanumGothic";

	h1, h2,
	.format-h1, .format-h2 { font-family:"NanumGothic Light"; }

	h1, .fr-dropdown .fr-dropdown-menu li a.format-h1 { font-size:24px; }
	h2, .fr-dropdown .fr-dropdown-menu li a.format-h2 { font-size:22px; }
	h3, .fr-dropdown .fr-dropdown-menu li a.format-h3 { font-size:20px; }

	.fr-trigger.active { background:$blue; }

	.fr-dropdown-menu i.fa { line-height:20px; }
}