@charset "UTF-8";

//
// 	froala.scss
// 		froala specific styles
//

html body .froala-wrapper.f-basic { background:none; }

html body .froala-box {
	.froala-editor { background:none; }
	.f-basic { border:0; }
	.f-sep { display:none; }
	.fr-bttn,
	.fr-trigger { height:30px; width:30px; }
	.fr-dropdown { width:40px; }
	.fr-bttn i.fa { font-size:12px; line-height:30px; vertical-align:top; }
	.froala-editor .bttn-wrapper:not(.touch) button.fr-bttn:hover, .froala-editor .froala-popup button.fr-bttn:hover, .froala-editor .bttn-wrapper:not(.touch) button.fr-trigger:hover, .froala-editor .froala-popup button.fr-trigger:hover { background:$blue-base; }
}

html body .froala-popup {
	button.fr-p-bttn.f-ok { background:$blue-base; }
}

html body .froala-view {
	min-height:0; line-height:1.6em;
	*:last-child { margin-bottom:0; }
	blockquote:last-child { margin-bottom:10px; }

	a { color:$blue-base; }
	a:hover { color:$blue; text-decoration:underline; }
	a:active { color:$blue-trans; }
	a:visited { color:$grey; }

	li p { margin:0; }
	li ol, li ol:last-child,
	li ul, li ol:last-child { margin:0 0 10px; }

	img,
	iframe { max-width:100%; }

	h1, h2,
	.format-h1, .format-h2 { font-family:"NanumGothic Light"; }

	h1, h2, h3, h4, h5, h6 { padding:0px 10px; }
	h1, .format-h1 { border-bottom:1px solid $grey-90; font-size:24px; padding:5px 10px; }
	h2, .format-h2 { font-size:22px; }
	h3, .format-h3 { font-size:20px; }

	strike, del, .spoiler {
		background:$black; color:$black; text-decoration:initial;
		a { color:$black !important; }
		&:hover { color:$white;
			a { color:$grey-base !important; }
		}
	}

	a {
		strike, del, .spoiler {
			&:hover { color:$grey-base; }
		}
	}

	blockquote, pre { font-style:normal; margin-top:10px; margin-bottom:10px; }
	iframe { border:0; margin:10px auto; }

	ul, ol { margin:10px 0; }
}

html body .froala-editor {
	font-family:"NanumGothic";

	h1, h2,
	.format-h1, .format-h2 { font-family:"NanumGothic Light"; }

	h1, .fr-dropdown .fr-dropdown-menu li a.format-h1 { font-size:24px; }
	h2, .fr-dropdown .fr-dropdown-menu li a.format-h2 { font-size:22px; }
	h3, .fr-dropdown .fr-dropdown-menu li a.format-h3 { font-size:20px; }

	.fr-trigger.active { background:$blue; }

	.fr-dropdown-menu i.fa { line-height:20px; }
}

html body .f-html {
	.froala-view textarea { background:#202020; }
}
