@charset "UTF-8";

// 	
// 	nav.scss
// 		#header
// 	

#header { top:0; width:100%; position:fixed; z-index:10; }

#nav {
	height:50px; background:$blue; color:$white; font-size:0; margin:0; 


	& > .container { width:720px; margin:0 auto; position:relative;
		@media screen and (max-device-width: $large) { width:100%; }
	}
	.handle { height:50px; display:block; }
	.handle span { height:50px; vertical-align:middle; }

	.dropdown.container {
		.handle { height:50px; color:$white; display:inline-block; }
		&.open .handle { background:$blue; }

		.menu { margin:0 10px; }
		.text { font-family:"NanumGothicLight"; font-size:16px; line-height:50px; padding-right:10px; }

		&.menu-nav {
			.icon {
				width:50px; background:url("../img/logo_1x.png") no-repeat; background-size:50px;

				@media screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx) { background-image:url("../img/logo_2x.png"); }
				@media screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx) { background-image:url("../img/logo_3x.png"); }
			}

			&.open .icon { background-position:0 -50px; }

			.text {
				font-size:18px;
				span.default {
					width:100px; background:url("../img/logo_kr_1x.png") no-repeat; background-size:100px; display:inline-block; font-size:0; margin:0 5px;

					@media screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx) { background-image:url("../img/logo_kr_2x.png"); }
					@media screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx) { background-image:url("../img/logo_kr_3x.png"); }
				}
			}

			.tip { width:10px; }
		}

		&.menu-personal {
			.icon {
				width:50px; background:url("../img/login_1x.png") 50% 50% no-repeat; background-size:24px;

				@media screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx) { background-image:url("../img/login_2x.png"); }
				@media screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx) { background-image:url("../img/login_3x.png"); }
			}

			.menu { right:0; }
		}
	}
}
