@charset "UTF-8";

// 	
// 	nav.scss
// 		#header
// 	

#header { top:0; width:100%; position:fixed; z-index:3000; }

#nav {
	height:50px; background:$blue; color:$white; font-size:0; margin:0; white-space:nowrap;


	& > .container { width:720px; margin:0 auto; position:relative;
		@media screen and (max-width: $large) { width:100%; }
	}
	.handle { height:50px; display:block; }
	.handle > span { height:50px; vertical-align:middle; }

	.dropdown.container {
		display:inline-block;
		.handle { height:50px; color:$white; display:inline-block; }
		.no-touch  & .handle:hover,
		&.open .handle { background:$blue; }

		&.menu-nav .menu,
		&.menu-personal .menu { margin:-30px -10px; }
		&.menu-nav,
		&.menu-notifications,
		&.menu-personal { .menu { margin-top:-5px; padding-top:5px; } }

		.text { font-family:"NanumGothicLight"; font-size:16px; line-height:50px; padding-right:10px; }

		&.menu-nav {
			.handle .icon {
				width:50px; background:url("../img/logo_1x.png") no-repeat; background-size:50px;

				@media
				screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx),
				screen and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2) { background-image:url("../img/logo_2x.png"); }

				@media
				screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx),
				screen and (-webkit-min-device-pixel-ratio: 2.1) and (-webkit-max-device-pixel-ratio: 3)  { background-image:url("../img/logo_3x.png"); }
			}

			&.open .icon { background-position:0 -50px; }
			&.nodropdown .icon { background-position:0 -100px !important; }

			.text { font-size:18px; }
			.tip { width:10px; }
		}

		&.menu-notifications {
			.handle { position:relative; }
			.handle .icon {
				width:50px; background:url("../img/notifications_1x.png") 50% 50% no-repeat; background-size:24px;

				@media
				screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx),
				screen and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  { background-image:url("../img/notifications_2x.png"); }
				@media
				screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx),
				screen and (-webkit-min-device-pixel-ratio: 2.1) and (-webkit-max-device-pixel-ratio: 3)  { background-image:url("../img/notifications_3x.png"); }
			}

			.menu { right:-40px; }

			.tip { padding:0 60px; text-align:right; }

			.wrap {
				.pscroll { max-height:200px; width:300px; overflow:hidden; position:relative; }
				.footer {
					background:$blue; border-top:1px solid rgba(0,0,0,.1);
					.notification a { padding-right:16px; }
					& > a {
						box-sizing:border-box; color:$white; display:block; font-size:$font-size; line-height:20px; padding:10px 0; text-align:center;
						&:hover { background:$blue; }
					}
				}
			}
			
			@media screen and (max-width: $small) {
				.text { display:none; }
				.dropdown.menu li a > span.mobile { display:block; }
				.dropdown.menu li a > span.desktop { display:none; }
			}
		}

		&.menu-personal {
			.icon {
				width:50px; background:url("../img/login_1x.png") 50% 50% no-repeat; background-size:24px;

				@media
				screen and (min-resolution: 1.1dppx) and (max-resolution: 2dppx),
				screen and (-webkit-min-device-pixel-ratio: 1.1) and (-webkit-max-device-pixel-ratio: 2)  { background-image:url("../img/login_2x.png"); }
				@media
				screen and (min-resolution: 2.1dppx) and (max-resolution: 3dppx),
				screen and (-webkit-min-device-pixel-ratio: 2.1) and (-webkit-max-device-pixel-ratio: 3)  { background-image:url("../img/login_3x.png"); }
			}

			.tip { text-align:right; }

			.dropdown.menu li a > span.mobile { display:none; }

			@media screen and (max-width: $small) {
				.text { display:none; }
				.dropdown.menu li a > span.mobile { display:block; }
				.dropdown.menu li a > span.desktop { display:none; }
			}
		}
	}
}
