@charset "UTF-8";

// 	
// 	profile.scss
// 		finally, the profile!
// 	

.section.profile {
	padding:20px 0;

	.header {
		width:90%; display:table; margin:0 auto; padding:20px 0;

		.icon {
			width:100px; display:table-cell; vertical-align:middle;
			img { width:100%; vertical-align:middle; }
		}
		.meta {
			width:100%; box-sizing:border-box; padding:5px 20px; vertical-align:top;
			h1 { font:normal 40px "NanumGothicLight"; line-height:1.25em; margin:0; }
			.score {
				margin-top:10px; 

				.votes.bar {
					height:10px; width:100%; background:$grey-90; border-radius:5px; display:table; overflow:hidden;
					.bar { height:100%; display:table-cell; }
					.downvote.bar { background:$red-base; }
					.upvote.bar { width:0; background:$blue-base; }

					.relative { position:relative; }
				}

				.count {
					line-height:20px;
					.left { width:0; }
					.total { display:inline-block; position:relative; }
				}
			}
		}

		@media screen and (max-width: $large) {
			.icon { width:80px; }
			.meta h1 { font-size:30px; }
		}

		@media screen and (max-width: $medium) {
			.icon { width:auto; display:block; margin-bottom:20px; text-align:center; }
			.icon img { width:80px; }
			.meta h1 { text-align:center; }
		}
	}
}

.tabs {
	.tab.header {
		height:30px; border-bottom:1px solid rgba($grey-90, .5); overflow:hidden; padding:5px 5% 0;
		a {
			height:0; border:8px solid transparent; border-top:0; border-bottom:30px solid rgba($grey-90, .6); display:inline-block; line-height:30px; margin:0 -6px; padding:0 15px; position:relative;
			&.current { border-bottom-color:$blue; color:$white; z-index:10; }
			.no-touch &:hover { z-index:11; }
		}
	}
}
