@charset "UTF-8";

// 	
// 	redactor.scss
// 		redactor specific styles
// 	

.redactor-box { border:0; float:none !important; }

.redactor-toolbar {
	border:0 !important; box-shadow:none !important;

	li a {
		&:hover { background:$blue-base !important; }
		&:active,
		&.redactor-act { background:$lightgrey-base !important; }
	}
}

.redactor-editor {
	min-height:0 !important; background:none !important; border:0 !important; font-family:inherit !important; padding:0 !important; margin:0;

	a.imagecontainer { max-width:100%; display:inline-block; }
	p:last-of-type { margin-bottom:0; }
	img { max-width:100%; }
	iframe { height:auto !important; max-width:100%; }

	span.spoiler {
		background:$black; cursor:default; display:inline-block; margin:0 2px; padding:0 2px;
		p { display:inline; }
		img { visibility:hidden; }
		&:hover { color:$white; }
		&:hover img { visibility:visible; }
	}
}

@media screen and (max-width: $medium) {
	.redactor-dropdown { left:5% !important; width:90% !important; }
}
