@charset "UTF-8";

$tiny: 360px - 1;
$small: 420px - 1;
$medium: 600px - 1;
$large: 720px - 1;

$font-size: 14px;

$blue-base: #3d9ccc;
$blue: rgba($blue-base, .9);
$blue-trans: rgba($blue-base, .6);

$red: #cc3d3d;
$red-trans: rgba($red, .6);

$green-base: #85cc3d;
$green: rgba($green-base, .9);

$white: #fff;

$black: #222;
$black-trans: rgba($black, .9);

$darkgrey: #666;

$grey: #aaa;

$lightgrey-base: #ccc;
$lightgrey: rgba($lightgrey-base, .9);
$lightgrey-trans: rgba($lightgrey-base, .6);

$grey-85: #d9d9d9;
$grey-90: #e5e5e5;
$grey-95: #f2f2f2;

$checkbox-base: #e5e5e5;
$checkbox: rgba($checkbox-base, .9);

@import "base.scss";
@import "common.scss";
@import "nav.scss";
@import "form.scss";
@import "article.scss";
@import "board.scss";
@import "write.scss";
