@charset "UTF-8";

//
// 	write.scss
// 		write form
// 		uses part of article.scss too
//

.section.article.form {
	.item.article {
		margin-bottom:20px;
		.header {
			.category {
				font-size:20px;
				select { width:100%; background:none; border:0; text-align:right; }
				.tip { text-align:left; }
				.dropdown.menu li a > span { margin:0 15px; }
			}
			h2 {
				width:100%;
				input { width:100%; background:none; border:0; display:block; }
			}
			@media all and (max-width: $medium) {
				.category { width:15%; }
				h2 { width:72%; }
			}
		}

		.froala-box {
			.froala-editor {
				background:$grey-90; box-sizing:border-box;
				.bttn-wrapper { padding:0 5%; }
				&.fixed { top:50px; width:720px; position:fixed; }
				.no-touch &.fixed { opacity:.9; transition:opacity .2s ease; }
				.no-touch &.fixed:hover { opacity:1; }

				@media all and (max-width: $large) {
					&.fixed { width:100%; }
				}
			}

			.froala-wrapper.f-basic .froala-element {
				min-height:300px; padding:20px 12.5%;
				@media all and (max-width: $medium) { padding:20px 5% !important; }
			}

			.fr-placeholder {
				margin:0; padding:20px 12.5%;
				@media all and (max-width: $medium) { padding:20px 5% !important; }
			}
		}

		.g-recaptcha { margin:10px 0 5px; text-align:center; }
		.g-recaptcha > div > div { display:inline-block; }
		.errorlist + .footer { margin-top:20px; }

		.footer {
			border-top:1px solid $grey-90;
			.tags {
				& > input { display:none; }

				.tagging {
					white-space:normal;
					input { @extend .tag; width:200px; cursor:text !important; outline:none; position:relative; z-index:1051; }
					.tag {
						padding-right:0;
						.tag-i { width:20px; height:20px; background:$grey-90; color:inherit; cursor:pointer; display:inline-block; font-size:.8em; line-height:20px; margin-left:5px; text-align:center; vertical-align:top; }
						.tag-i:hover { background:$grey-85; }
					}
				}
			}
		}
	}

	.ot.nav {
		label {
			width:30%;
			@media all and (max-width: $medium) { width:40%; }
			@media all and (max-width: $small) { width:50%; }
		}

	}

	.nav.center {
		padding:0;
		.submit { width:100%; border-radius:0; display:block; }
	}
}

.tag { background:$grey-95; border:0; border-radius:2px; cursor:default; display:inline-block; letter-spacing:inherit; line-height:20px; margin:0 5px 5px 0; padding:0 5px; vertical-align:top; }
.tag.readonly { cursor:pointer; }
.tag.readonly:hover { background:$blue-base; color:$white; }

.autocomplete-suggestions { background:$white; box-shadow:0 2px 10px rgba(0,0,0,.3); border-radius:0 0 4px 4px; overflow: auto; }
.autocomplete-suggestion { clear:both; cursor:default; line-height:20px; overflow:hidden; padding:10px 20px; }
.autocomplete-suggestion .left { white-space:normal; }
.autocomplete-selected { background:$blue-base; color:$white; }
.autocomplete-suggestions strong { font-weight:normal; color:$blue-base; }
.autocomplete-selected strong { color:$white; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
